<template>
  <div>
    <div style="background:#0091a221" class="pa-5">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <!-- <h3>
            Mobile App Development
            Services To Put Your
            Business On The Right Path
          </h3>-->
          <vue-typed-js
            :strings="['  Mobile App Development Services To Put Your  Business On The Right Path']"
          >
            <h3 class="typing" :class="$q.screen.gt.sm ? 'text-h3' : 'text-h5 text-center'"></h3>
          </vue-typed-js>

          <p>We thrive in challenges. Don’t be afraid to come to us with something that's never been done before</p>
        </div>
        <div class="col-md-6 col-xs-12">
          <q-img
            :src="require(`assets/services/mobile.svg`)"
            spinner-color="primary"
            spinner-size="82px"
          ></q-img>
        </div>
      </div>

      <!-- INTRO -->
      <div class="col-6 text-center">
        <h4>Why we are the ones you want to work with</h4>
        <p>We take in complex, process it and make it feel like the simplest stuff ever</p>
      </div>
      <!-- //INTRO -->

      <!-- STUFF -->
    </div>
    <!-- TODO: Add seperate ions for the tools, draw them if necessary -->
    <!-- CLIENT SERVICES -->
    <div class="row justify-center q-gutter-sm pt-5">
      <div class="col-md-3 col-xs-12" v-for="item in stackItems" :key="item.icon">
        <q-card class="text-center" flat>
          <center>
            <q-icon size="100px" color="light-blue-11" style="width: 50%" :name="item.icon" />
          </center>
          <q-card-section class="text-bold text-h6">{{ item.heading }}</q-card-section>
          <q-card-section>{{ item.body }}</q-card-section>
        </q-card>
      </div>
    </div>
    <!--// CLIENT SERVICES -->
  </div>
</template>

<script>
export default {
  meta: {
    title: "Mobile | Crudloop Web And Mobile"
  },
  data() {
    return {
      stackItems: [
        {
          icon: "img:statics/services/flutterio.svg",
          heading: "Flutter",
          body:
            "Build Beautiful Native Apps with Flutter, a Mobile App SDK From Google. Expressive & Flexible UI. "
        },
        {
          icon: "mdi-react",
          heading: "React Native",
          body:
            "React Native combines the best parts of native development with React, a best-in-class JavaScript library for building user interfaces."
        },
        {
          icon: "img:statics/services/quasar.svg",
          heading: "Quasar",
          body: "Build high-performance VueJS user interfaces in record time"
        }
      ]
    };
  }
};
</script>