<template>
  <div>
    <div style="background:#f2f2f2" class="pa-5">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <!-- <h3>Experience the next level of innovation in Product Design</h3> -->

          <vue-typed-js :strings="['Experience the next level of innovation in Product Design']">
            <h3 class="typing" :class="$q.screen.gt.sm ? 'text-h3' : 'text-h5 text-center'"></h3>
          </vue-typed-js>
          <p>Building software products with a strong technical foundation. We got you covered on workflows, intuitive interfaces & engaging experiences.</p>
        </div>
        <div class="col-md-6 col-xs-12">
          <q-img
            :src="require(`assets/services/ui.svg`)"
            spinner-color="primary"
            spinner-size="82px"
          ></q-img>
        </div>
      </div>

      <!-- INTRO -->
      <div class="col-6 text-center">
        <h4>Work with a team of problem-solvers</h4>
        <p>
          Your idea is unique, so is your product & the problem you are trying to solve.
          Hence, we offer tailored solutions instead of using a cookie-cutter process.
        </p>
      </div>
      <!-- //INTRO -->

      <!-- STUFF -->
    </div>
    <!-- TODO: Add seperate ions for the tools, draw them if necessary -->
    <!-- CLIENT SERVICES -->
    <div class="row justify-center q-gutter-sm">
      <div class="col-md-3 col-xs-12" v-for="item in stackItems" :key="item.icon">
        <q-card class="text-center" flat>
          <q-icon size="110px" color="primary" :name="item.icon" />
          <q-card-section class="text-bold text-h6">{{ item.heading }}</q-card-section>
          <q-card-section>{{ item.body }}</q-card-section>
        </q-card>
      </div>
    </div>
    <!--// CLIENT SERVICES -->
  </div>
</template>

<script>
export default {
  meta: {
    title: "UI/UX | Crudloop Web And Mobile"
  },

  data() {
    return {
      stackItems: [
        {
          icon: "mdi-flutter",
          heading: "UX Strategy",
          body:
            "UI/UX app Design for startups to large-scale enterprise businesses."
        },
        {
          icon: "mdi-rn",
          heading: "UI Design",
          body:
            "Expect nothing less than stunning UIs for your mobile and web applications because your end user expects nothing less."
        },
        {
          icon: "mdi-vuej",
          heading: "Illustartion Service",
          body:
            "Want to make creative illustrations for your application or website? Augment our UI services with Illustrations to stand out from the crowd."
        }
      ]
    };
  }
};
</script>