<template>
  <div>
    <div style="background:#ff66000f" class="pa-5">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <!-- <h3>Web App Development: Fast- Paced And Quality- Focused</h3> -->

          <vue-typed-js :strings="['Web App Development: Fast- Paced And Quality- Focused']">
            <h3 class="typing" :class="$q.screen.gt.sm ? 'text-h3' : 'text-h5 text-center'"></h3>
          </vue-typed-js>
          <p>
            Front-end and Back-end Development that embraces agility, simplicity & timelessness.
            Web App Development
          </p>
          <p>Product Design and Development is our core focus, we help create digital products with unsurpassed quality and agility</p>
        </div>
        <div class="col-md-6 col-xs-12">
          <q-img
            :src="require(`assets/services/web.svg`)"
            spinner-color="primary"
            spinner-size="82px"
          ></q-img>
        </div>
      </div>

      <!-- INTRO -->
      <div class="col-md-6 col-xs-12 text-center">
        <h4>Finding creative solutions for complex problems</h4>We take initiatives and work autonomously as part of your team
      </div>
      <!-- //INTRO -->

      <!-- STUFF -->
    </div>

    <div class="row">
      <div class="col-md-5 col-xs-12 text-center">
        <q-img
          style="width:60%"
          :src="require(`assets/services/web.svg`)"
          spinner-color="primary"
          spinner-size="82px"
        ></q-img>
      </div>
      <div class="q-ma-sm col-md-6 col-xs-12">
        <h5>Full-Stack Web Application Development</h5>
        <p>Right from developing custom web apps, to re-engineering existing products for better scalability & efficiency, you get everything here.</p>
        <p>Front-end and Back-end Development that embraces agility, simplicity & timelessness.</p>
        <p>
          <q-btn color="primary" to="/recent" icon="mdi-arrow-right" label="view our portfolio" />
        </p>
      </div>
    </div>

    <div class="text-center ma-12">
      <div class="text-h6">Web Application Development Services</div>Understanding the big picture of what you are doing
    </div>
    <!-- CLIENT SERVICES -->
    <div class="row justify-center q-gutter-sm">
      <div class="col-md-3 col-xs-12" v-for="item in stackItems" :key="item.icon">
        <q-card class="text-center" flat>
          <q-icon size="110px" color="primary" :name="item.icon" />
          <q-card-section class="text-bold text-h6">{{ item.heading }}</q-card-section>
          <q-card-section>{{ item.body }}</q-card-section>
        </q-card>
      </div>
    </div>
    <!--// CLIENT SERVICES -->

    <!-- BACKEND SERVICES -->
    <div class="text-center container">
      <h4>Backend services</h4>
      <div class="row justify-center q-gutter-sm">
        <div class="col-md-3 col-xs-12" v-for="item in backendItems" :key="item.icon">
          <q-card class="text-center" flat>
            <center>
              <q-icon size="100px" style="width: 50%" :name="item.icon" />
            </center>
            <q-card-section class="text-bold text-h6">{{ item.heading }}</q-card-section>
            <q-card-section>{{ item.body }}</q-card-section>
          </q-card>
        </div>
      </div>
    </div>
    <!-- // BACKEND SERVICES -->
  </div>
</template>

<script>
export default {
  meta: {
    title: "Web | Crudloop Web And Mobile"
  },

  data() {
    return {
      stackItems: [
        {
          icon: "mdi-vuejs",
          heading: "Vue.js",
          body:
            "Fast, flexible web applications with highly responsive user-interfaces."
        },
        {
          icon: "mdi-nodejs",
          heading: "Node.js",
          body:
            "Building data-intensive, real-time applications based on JavaScript."
        },
        {
          icon: "mdi-vuetify",
          heading: "Vuetify",
          body:
            "Material Design component framework for Vue.js. It aims to provide all the tools necessary to create beautiful content rich applications."
        }
      ],
      backendItems: [
        {
          icon: "img:statics/services/strapi.svg",
          heading: "Strapi.js",
          body:
            "Manage your content. Distribute it anywhere. The open source Headless CMS Front-End Developers love."
        },
        {
          icon: "img:statics/services/sails.svg",
          heading: "Sails.js",
          body:
            "Build practical, production-ready Node.js apps in a matter of weeks, not months."
        },
        {
          icon: "img:statics/services/expressjs.svg",
          heading: "Express.js",
          body: "Fast, unopinionated, minimalist web framework for Node.js"
        }
      ]
    };
  }
};
</script>