<template>
  <div>
    <div class="container pa-6">
      <div class="row justify-center">
        <div class="mb-5 col-md-12"></div>
        <!-- TODO: Add validations -->

        <div class="text-center q-gutter-sm col-md-6 col-xs-12">
          <vue-typed-js :strings="['Have a Product Idea?']">
            <h3 class="typing" :class="$q.screen.gt.sm ? 'text-h3' : 'text-h5 text-center'"></h3>
          </vue-typed-js>Fill out the enquiry form and we'll get back to you as soon as possible, our team may take as little or as much as a day to respond, this is due to the high amount of emails and promotion we track daily.
          <q-input :rules="validRules" filled v-model="fullname" type="text" label="Fullname" />
          <q-input
            :rules="validRules"
            filled
            v-model="email"
            type="text"
            label="Enter your email address"
          />
          <q-input
            :rules="validRules"
            filled
            v-model="phone"
            type="number"
            label="Enter your mobile number"
          />
          <q-input
            :rules="validRules"
            filled
            v-model="subject"
            type="text"
            hint="eg. want to revolutionize Africa with a booking application!"
            label="Enter a subject"
          />
          <br />
          <q-input
            :rules="validRules"
            filled
            v-model="message"
            hint="Quickly summerize your idea and we will get back to you soon"
            type="textarea"
            label="Tell us about your project"
          />
          <br />
          <q-btn color="primary" icon="mdi-email" label="get in touch" @click="getInTouch" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  meta: {
    title: "Contact Us | Crudloop Web And Mobile"
  },

  mounted() {
    this.$q.loading.show({ message: "Generating google form.." });
    setTimeout(go => {
      location.href = "https://forms.gle/d7zj4uSB3nwS3mM36";
      void go;
    }, 1000);
  },
  data() {
    return {
      fullname: "",
      email: "",
      subject: "",
      phone: "",
      message: "",
      validRules: [v => !!v || "This field is required"]
    };
  },
  beforeDestroy() {
    this.$q.loading.hide();
  },
  methods: {
    // TODO: Implement this
    getInTouch() {
      this.$q.loading.show();
    }
  }
};
</script>