<template>
  <div :class="$q.screen.lt.md ? 'text-center' : null">
    <div class="pa-5 row">
      <div class="text-left col-md-6 col-xs-12">
        <!-- <h2>Let's develop your idea!</h2> -->

        <vue-typed-js :strings="[' Building Digital Products  is our Jam!']">
          <h3 class="typing" :class="$q.screen.gt.sm ? 'text-h3' : 'text-h5 text-center'"></h3>
        </vue-typed-js>
        <!-- <h3>
          Building Digital Products
          is our Jam!
        </h3>-->
        <div class="text-center">
          We build great products for Early-stage, well-funded startups, Growing
          business and Mid-sized enterprises.
          <span>Get there even faster, modern apps and servers in records of time, crudloop paints your big idea into life, let's us design, develop and scale your website using application grade tool.</span>
        </div>

        <div :class="$q.screen.lt.md ? 'text-center' : null">
          <br />
          <q-btn
            to="/contact"
            rounded
            color="primary"
            label="Get in touch"
            class="text-capitalize"
          />
        </div>
      </div>
      <div class="md text-right col-md-6 col-xs-12">
        <q-img
          style="width:80%"
          :src="require(`assets/hero.svg`)"
          spinner-color="primary"
          spinner-size="82px"
        ></q-img>
      </div>
    </div>

    <!-- Summary -->
    <center>
      <div style="width:50%" class="text-center md ma-2">
        Get a full mobile application or website in records of time
        Crudloop provides a collection of skills to design and develop your idea into a reality with Python, JavaScript or Dart,
        and to easily deploy in the cloud, on-prem, in the browser, or on your server no matter what idea you have.
      </div>
    </center>
    <!-- // Summary -->

    <!-- Featured -->
    <div>
      <!-- PAINT YOUR UI TO LIFE -->
      <div class="row pa-7">
        <div class="col-md-6 col-xs-12 text-center">
          <q-img
            :style="$q.screen.lt.md ? 'width:100%' : 'width:60%'"
            :src="require(`assets/build.svg`)"
            spinner-color="primary"
            spinner-size="82px"
          ></q-img>
        </div>
        <div class="col-md-6 col-xs-12">
          <h5>Let's paint your big idea into a reality</h5>
          <p>Our center has solid brand awareness and we gain new clients consistently, but we have an above-average churn rate. Some of our churned customers noted a difficulty to book their classes and personal trainers as one of the key reasons to leave, as it was only available on desktop and many of our clients are often on the go.</p>
        </div>
      </div>
      <!-- //PAINT YOUR UI TO LIFE -->

      <!-- SCALE -->
      <div class="row pa-7">
        <div class="col-md-6 col-xs-12 text-center">
          <q-img
            :style="$q.screen.lt.md ? 'width:100%' : 'width:60%'"
            :src="require(`assets/scale.svg`)"
            spinner-color="primary"
            spinner-size="82px"
          ></q-img>
        </div>

        <div class="col-md-6 col-xs-12">
          <h5>Let's scale your micro-service</h5>
          <p>As the ability for an IT resource to handle growing or decreasing demands in a capable manner, it is one of the most popular and beneficial features of cloud computing, as businesses can scale up or down to meet demands based on season, here is crudloop, we help projects, grow and scale up to meet the high level of request their application needs.</p>
        </div>
      </div>
      <!--// SCALE -->

      <div class="row pa-7">
        <div class="col-md-6 col-xs-12 text-center">
          <q-img
            :style="$q.screen.lt.md ? 'width:100%' : 'width:60%'"
            :src="require(`assets/design.svg`)"
            spinner-color="primary"
            spinner-size="82px"
          ></q-img>
        </div>

        <div class="col-md-6 col-xs-12">
          <h5>From dummy mockups, to reality</h5>
          <p>An improvement for your business can mean many things, simply depending on your current situation. Some of the most common impacts a good mobile app can create for you are increased ROI, more returning customers, better productivity, reduced expenses, improved social proof, and a boost in brand awareness.</p>
        </div>
      </div>
    </div>
    <br />
  </div>
</template>

<script>
// import { VueTypedJs } from "vue-typed-js";
export default {
  meta: {
    title: "Crudox web and mobile development"
  },
  name: "PageIndex"
};
</script>

