<template>
  <div class="pa-5">
    <div class="row mt-7">
      <div class="col-md-6 col-xs-12">

         <vue-typed-js :strings="['Services']">
            <h3 class="typing" :class="$q.screen.gt.sm ? 'text-h3' : 'text-h5 text-center'"></h3>
          </vue-typed-js>
        <!-- <h2>Services</h2> -->
        <p>
          Working with you on
          everything from the top
          level outline all the way
          down to development and
          delivery of functioning code
        </p>
        <p>Product Design and Development is our core focus, we help create digital products with unsurpassed quality and agility</p>
      </div>
      <div class="md col-md-6 col-xs-12 text-right">
        <q-img
          :src="require(`assets/services.svg`)"
          :style="$q.screen.lt.md ? 'width:100%' : 'width:90%'"
          spinner-color="primary"
          spinner-size="82px"
        ></q-img>
      </div>
    </div>

    <!-- WEB DEVELOPMENT -->
    <div class="row mt-7">
      <div class="col-md-6 col-xs-12 text-center">
        <q-img
          :style="$q.screen.lt.md ? 'width:100%' : 'width:60%'"
          :src="require(`assets/services/web.svg`)"
          spinner-color="primary"
          spinner-size="82px"
        ></q-img>
      </div>

      <div class="col-md-6 col-xs-12">
        <h5>Web development</h5>
        <p>Web App Development: Fast- Paced And Quality- Focused</p>
        <p>Front-end and Back-end Development that embraces agility, simplicity & timelessness.</p>
        <p>
          <q-btn color="primary" to="/services/web" icon="mdi-arrow-right" label="learn more" />
        </p>
      </div>
    </div>
    <!--// WEB DEVELOPMENT -->

    <!-- MOBILE DEVELOPMENT -->
    <div class="row mt-7">
      <div class="col-md-6 col-xs-12 text-center">
        <q-img
          :style="$q.screen.lt.md ? 'width:100%' : 'width:60%'"
          :src="require(`assets/services/mobile.svg`)"
          spinner-color="primary"
          spinner-size="82px"
        ></q-img>
      </div>
      <div class="col-md-6 col-xs-12">
        <h5>Mobile development</h5>
        <p>
          Mobile App Development
          Services To Put Your
          Business On The Right Path
        </p>
        <p>We thrive in challenges. Don’t be afraid to come to us with something that's never been done before</p>
        <p>
          <q-btn to="/services/mobile" color="primary" icon="mdi-arrow-right" label="learn more" />
        </p>
      </div>
    </div>
    <!--// MOBILE DEVELOPMENT -->

    <!-- UI/UX PRODUCT DESIGN -->
    <div class="row mt-7">
      <div class="col-md-6 col-xs-12 text-center">
        <q-img
          :style="$q.screen.lt.md ? 'width:100%' : 'width:60%'"
          :src="require(`assets/services/ui.svg`)"
          spinner-color="primary"
          spinner-size="82px"
        ></q-img>
      </div>
      <div class="col-md-6 col-xs-12">
        <h5>UI/UX Design</h5>
        <p>Experience the next level of innovation in Product Design</p>
        <p>Building software products with a strong technical foundation. We got you covered on workflows, intuitive interfaces & engaging experiences.</p>
        <p>
          <q-btn color="primary" to="/services/ui-ux" icon="mdi-arrow-right" label="learn more" />
        </p>
      </div>
    </div>
    <!-- // UI/UX PRODUCT DESIGN -->
  </div>
</template>


<script>
export default {
  meta: {
    title: "Services | crudloop"
  }
};
</script>