<template>
  <div class="q-pa-sm">
    <div class="text-center">
      <h4>Have a product idea?</h4>

      <span>
        Crudloop needs the contact information you provide to us to contact you
        about our products and services.
      </span>
      <br />
      <br />
      <q-btn to="/contact" color="primary" label="Get in touch" />
    </div>
    <br />

    <!-- WRAPPER -->
    <div class="wrapper" style="background:rgba(223, 216, 216, 0.24) none repeat scroll 0% 0%">
      <br />
      <!-- NEWS LETTER -->
      <!-- <div class="mt-5 flex flex-center">
        <span class="text-h6">Join our news letter</span>
        <q-separator spaced inset vertical dark />
        <q-input type="text" label="Enter your email" filled />
        <q-separator spaced inset vertical dark />
        <q-btn color="primary" label="subbscribe me" />
      </div> 
      <br />
      <q-separator />
      -->
      <!-- // NEWS LETTER -->
      <br />

      <!-- SERVICES AND OTHER FOOTERS -->
      <div class="row justify-center text-center">
        <div class="col-md-3 col-xs-6">
          <span class="text-h6">Services</span>
          <div
            v-for="service in services"
            :key="service.title"
            class="mb-4"
            @click="$router.push(service.to)"
          >{{ service.title }}</div>
        </div>

        <div class="col-md-3 col-xs-6">
          <span class="text-h6">About Us</span>
          <div
            v-for="about in abouts"
            :key="about.title"
            class="mb-4"
            @click="$router.push(about.to)"
          >{{ about.title }}</div>
        </div>

        <div class="col-md-3 col-xs-6">
          <span class="text-h6">Contact Us</span>
          <div
            v-for="contact in contacts"
            :key="contact.title"
            class="mb-4"
            @click="$router.push(contact.to)"
          >
            <a class="phone-link" :href="`tel://${contact.title}`">{{ contact.title }}</a>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <span class="text-h6">Follow Us</span>

          <div class="row justify-center">
            <div
              v-for="connect in connects"
              :key="connect.title"
              class="mb-4 col-md-4 col-xs-12"
              @click="$router.push(connect.to)"
            >
              <q-btn
                class="text-capitalize"
                flat
                :label="connect.title"
                :color="connect.color"
                :icon="connect.icon"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 pa-3 text-center">
        <router-link to="/terms">Terms of use</router-link>&nbsp;| crudloop as 1844&trade; 2019 - 2020 | A1-104, MOUAU, Umudike Road, Abia State, Nigeria.
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      services: [
        {
          title: "Web Development",
          to: "/services/web"
        },
        {
          title: "Mobile Development",
          to: "/services/mobile"
        },
        {
          title: "UI/UX Design",
          to: "/services/ui-ux"
        }
      ],
      abouts: [
        {
          title: "Overview",
          to: "/about/overview"
        },
        {
          title: "Team",
          to: "/about/team"
        },
        {
          title: "Contact",
          to: "/contact"
        }
      ],
      contacts: [
        { title: "+2349076641303" },
        { title: "+2348068229376" },
        { title: "+2349019133013" },
        { title: "+2349039172303" }
      ],
      connects: [
        {
          title: "Facebook",
          to: "",
          icon: "mdi-facebook",
          color: "grey"
        },
        {
          title: "Twitter",
          to: "",
          icon: "mdi-twitter",
          color: "grey"
        },
        {
          title: "Github",
          to: "",
          icon: "mdi-github-circle",
          color: "grey"
        }
      ]
    };
  }
};
</script>

<style scoped>
.phone-link {
  color: grey;
}
</style>