<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>
    <meta charset="utf-8" />
    <meta name="title" content="Crudloop web and mobile | next gen stuff" />
    <meta
      name="description"
      content="We build great products for Early-stage, well-funded startups, Growing business and Mid-sized enterprises. Get there even faster, modern apps and servers in records of time, crudloop paints your big idea into life, let's us design, develop and scale your website using application grade tool."
    />
    <meta
      name="keywords"
      content="web, mobile applications, desktop apps, android, electron, javascript, vue, react"
    />

    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="2 days" />
    <meta name="author" content="Crudloop" />

    <meta name="format-detection" content="telephone=yes" />
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="canonical" href="http://crudloop.com/" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <meta property="og:type" content="article" />
    <meta
      property="og:title"
      content="<%= htmlWebpackPlugin.options.productName %>"
    />
    <meta
      property="og:description"
      content="Get a full mobile application or website in records of time Crudloop provides a collection of skills to design and develop your idea into a reality with Python, JavaScript or Dart, and to easily deploy in the cloud, on-prem, in the browser, or on your server no matter what idea you have. "
    />

    <link rel="icon" type="image/png" href="statics/app-logo-128x128.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="statics/icons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="statics/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="statics/icons/favicon-96x96.png"
    />
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-8X3H9SG7PS"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-8X3H9SG7PS");
    </script>
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
