<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar class="x-scroller text-capitalize bg-white text-black">
        <q-toolbar-title class="md" @click="$router.push('/')">crudloop</q-toolbar-title>
        <q-btn to="/" color="primary" class="text-capitalize" flat label="Home" />
        <q-btn to="/services" color="primary" class="text-capitalize" flat label="Services" />
        <q-btn to="/projects" color="primary" class="text-capitalize" flat label="Projects" />
        <!-- <q-btn to="/about" color="primary" class="text-capitalize" flat label="About" /> -->
        <!-- <q-btn to="/use-cases" color="primary" class="text-capitalize" flat label="Cases" /> -->
        <q-btn to="/contact" color="primary" class="text-capitalize" flat label="Contact" />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
    <Footer></Footer>
  </q-layout>
</template>

<script>
export default {
  name: "MyLayout",
  components: {
    Footer: () => import("components/Footer.vue")
  },
  data() {
    return {
      leftDrawerOpen: false
    };
  }
};
</script>


<style scoped>
.x-scroller {
  overflow-y: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
</style>